<div class = "span7">
  <div class = "container">
    <%= bootstrap_form_for @post do |f| %>
    <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
    <%= f.text_field :author, class: "form-control", placeholder: "Author" %>
    <%= f.text_field :content, class: "form-control", placeholder: "Content" %>
    <%= f.submit %>
    <% end %>
  </div>
</div>
