<% if current_user %>
  <div id = "user-div" class = "container-fluid">
    <div class = "container col-sm-6 welcome">
      <h2 class = "text-center">Welcome back, <%= current_user.name %>!</h2>
      <h3 class = "text-center green"><%= Date.today.strftime("%B") %> <%= Date.today.day %>, <%= Date.today.year %></h3>
      <div class = "image-div">

      </div>
    </div>
    <div class = "container col-sm-6 tools">
      <h2 class = "text-center white">My Tools</h2>
        <% if @userstools.length == 0 %>
          <h4 class = "white text-center">No tools rented.</h4>
        <% else %>
        <table class = "table table-responsive">

            <% @userstools.each do |userstool| %>
            <tr>
              <td class = "col-md-6 text-center tool-name"><%= userstool.name %></td>
              <td class = "col-md-6 text-center"><%= link_to "Return", "/tools/return/#{userstool.tool_id}", class: "btn btn-s btn-warning return-button" %></td>
            </tr>
            <% end %>

        </table>
        <% end %>
    </div>
  </div>

<% end %>

<div id = "pic" class = "container-fluid">
  <div class = "container col-sm-6"></div>

  <div class = "container col-sm-6 transparent text-center">
    <% if current_user %>
    <h2 class = "orange">Hey, <%= current_user.name %>!</h2>
    <h4 class = "grey">Have you subscribed to our blog yet? For news and updates, click below.</h4>
    <% else %>
    <h2 class = "orange">Welcome to Pea-Patch!</h2>
    <h4 class = "grey">For new and updates, follow our blog! Click below to subscribe.</h4>
    <% end %>
    <%= form_tag "/" do %>
      <%= text_field_tag :email, params[:email] %>
      <%= submit_tag "Submit" %>
    <% end %>
    <br>
    <%#= link_to "Subscribe", "/", class: "btn btn-s btn-warning return-button", id: "white-text" %>
  </div>
</div>
<!-- <a name="weather"></a> -->
<div id = "blog" class = "container-fluid centered">
  <h2 class = "text-center grey">News</h2>
  <HR>
    <% @posts[0..2].each do |post| %>
    <div class = "col-sm-4 light-border a-post">
      <h3 class = "text-center grey"><%= post.title %></h3>
      <p class = "text-center"><%= time_ago_in_words(post.created_at) %> ago</p>
      <p class = "text-center grey"><%= truncate(post.content, length: 60) %></p>
      <div class = "span7 text-center">
          <%= link_to "Read More", "/posts/#{post.id}", class: "btn btn-s btn-warning return-button", id: "read-more" %>
      </div>
    </div>
    <% end %>
    <% if current_user %>
      <div class = "span7 text-center"><%= link_to "New Post", "/posts/new", class: "btn btn-s btn-warning return-button form-button blue" %></div>
    <% end %>
  </div>
<div id = "weather" class = "container-fluid">
  <!-- <h2 class = "text-center grey">Weather</h2>
  <HR> -->

    <div class = "container col-sm-6 seattle">
      <h1 class = "white"><%= @current['name'] %></h1>
      <h2 class = "white"><%= convert(@current['main']['temp']) %> 째F</h2>
      <h2 class = "white"><%= @current['weather'][0]['main']%></h2>
    </div>

    <div class = "container col-sm-6 grey text-center">
      <br>
      <h4 class = "weather-stuff"><span class = "green">Current Temperature:</span> <%= convert(@current['main']['temp']) %> 째F</h4>
      <br>
      <h4 class = "weather-stuff"><span class = "green">High Temperature:</span> <%= convert(@current['main']['temp_max']) %> 째F</h4>
      <br>
      <h4 class = "weather-stuff"><span class = "green">Low Temperature:</span> <%= convert(@current['main']['temp_min'])%> 째F</h4>
      <br>
      <a name="tools"></a>
      <h4 class = "weather-stuff"><span class = "green">Forecast:</span> <%= @current['weather'][0]['main']%></h4>
      <br>
    </div>
</div>

<div id = "my-tools" class = "container-fluid">
  <h2 class = "text-center white">Rent Tools</h2>
  <table class = "table table-responsive">
    <thead>
      <tr>
        <td class = "text-center white">Tool</td>
        <td class = "text-center white">Quantity</td>
        <td class = "text-center white">Available</td>
      </tr>
    </thead>
    <tbody>
      <% @tools.each do |tool| %>
      <tr>
        <td class = ".col-md-2 text-center white tool-stuff"><%= tool.name %></td>
        <td class = ".col-md-2 text-center white tool-stuff"><%= tool.quantity %></td>
        <td class = ".col-md-2 text-center white tool-stuff"><%= tool.in_stock %></td>
        <% if current_user %>
          <td class = ".col-md-2 text-center white">
            <% if tool.in_stock > 0 && session[:user_id] %>
            <%= link_to "Rent", "/tools/rent/#{tool.id}", class: "btn btn-s btn-info rent-button" %>
            <% end %>
          </td>

          <td class = ".col-md-2 text-center">
            <% if Userstool.find_by(user_id: @user.id, tool_id: tool.id) %>
            <%= link_to "Return", "/tools/return/#{tool.id}", class: "btn btn-s btn-warning return-button" %>
            <% end %>
          </td>
        <% end %>

      </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div id = "calendar" class = "container-fluid">
  <div class = "cal-full">
    <h2 class = "text-center grey">Upcoming Events</h2>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="well controls top-thing">
          <%= link_to calendar_path(date: @date - 1.month), class: "btn btn-default cal-button" do %>
          <i class="glyphicon glyphicon-backward"></i>
          <% end %>
          <p class = "month blue"><%= "#{@date.strftime("%B")} #{@date.year}" %></p>
          <%= link_to calendar_path(date: @date + 1.month), class: "btn btn-default cal-button" do %>
          <i class="glyphicon glyphicon-forward"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row" id = "a-row">
      <div class="col-md-12 cal">
        <%= calendar @date do |date| %>
        <p class = "a-day"><%= date.day %></p>
        <% if @events_by_date[date] %>
        <ul class = "a-list">
          <% @events_by_date[date].each do |event| %>
          <li class = "event text-center"><%= link_to event.title, "/events/#{event.id}", class: "event" %></li>
          <% end %>
        </ul>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if current_user %>
    <div class = "span7 text-center"><%= link_to "New Event", "/events/new", class: "btn btn-s btn-warning return-button form-button blue" %></div>
  <% end %>
</div>
  <div class = "container-fluid" id = "footer">
    <p class = "white text-center">designed and created by Lily Pace and Rachel Moshier Adler</p>
  </div>
