<% if session[:user_id] %>
  <div id = "user-div" class = "container-fluid">
    <div class = "container col-sm-6">
      <h2 class = "text-center">Welcome back, <%= current_user.name %>!</h2>
      <h3 class = "text-center green"><%= Date.today.strftime("%B") %> <%= Date.today.day %>, <%= Date.today.year %></h3>
      <div class = "image-div">
        <%= image_tag current_user.photo_url, :class => "show-image" %>
      </div>
    </div>
    <div class = "col-sm-6 tools fill">
      <h2 class = "text-center white">My Tools</h2>
    </div>
  </div>
<% end %>

<div id = "weather" class = "container-fluid">
  <h2 class = "text-center white"><%= @current['name'] %> Weather</h2>
    <div class = "container col-sm-6">
      <br>
      Current Temperature: <%= convert(@current['main']['temp']) %> °F
      <br>
      High Temperature: <%= convert(@current['main']['temp_max']) %> °F
      <br>
      Low Temperature: <%= convert(@current['main']['temp_min'])%> °F
      <br>
      Forecast: <%= @current['weather'][0]['main']%>
      <br>
      <img src='http://openweathermap.org/img/w/<%=@current['weather'][0]['icon']%>.png'>
    </div>
</div>

<div id = "my-tools" class = "container-fluid">
  <h2 class = "text-center white">Tools</h2>
</div>

<div id = "calendar" class = "container-fluid">
</div>

  <div id = "calendar" class = "container-fluid">
  </div>

  <div id = "blog" class = "container-fluid centered">
    <h2 class = "text-center">News</h2>
  </div>
