<% if current_user %>
  <div id = "user-div" class = "container-fluid">
    <div class = "container col-sm-6">
      <h2 class = "text-center">Welcome back, <%= current_user.name %>!</h2>
      <h3 class = "text-center green"><%= Date.today.strftime("%B") %> <%= Date.today.day %>, <%= Date.today.year %></h3>
      <div class = "image-div">
        <%= image_tag current_user.photo_url, :class => "show-image" %>
      </div>
    </div>
    <div class = "col-sm-6 tools fill">
      <h2 class = "text-center white">My Tools</h2>
        <% if @userstools.length == 0 %>
          <h4 class = "white text-center">No tools rented.</h4>
        <% else %>
        <table class = "table table-responsive">

            <% @userstools.each do |userstool| %>
            <tr>
              <td class = "col-md-6 text-center tool-name"><%= userstool.name %></td>
              <td class = "col-md-6 text-center"><%= link_to "Return", "/tools/return/#{userstool.tool_id}", class: "btn btn-s btn-warning return-button" %></td>
            </tr>          
            <% end %>

        </table>
        <% end %>
    </div>
  </div>

<% end %>

<div id = "weather" class = "container-fluid">
  <h2 class = "text-center white">Weather</h2>
</div>

<div id = "my-tools" class = "container-fluid">
  <h2 class = "text-center white">Tools</h2>

</div>

<div id = "calendar" class = "container-fluid">
</div>

  <div id = "calendar" class = "container-fluid">
  </div>

  <div id = "blog" class = "container-fluid centered">
    <h2 class = "text-center">News</h2>
  </div>
