<% @posts.each do |post| %>
<div class = "col-md-3 date-box col-md-offset-1">
<h2 class = "text-center blue"><%= post.created_at.strftime("%B") %> <%= post.created_at.day %>, <%= post.created_at.year %></h2>
</div>
<div class = "col-md-7 post-box">

  <h2 class = "grey ib"><%= link_to "#{post.title}", "/posts/#{post.id}", class: "post-link" %></h2>
  <HR>
  <h4 class = "grey">By <span class = "bold"><%= post.author %></span> on <%= post.created_at.strftime("%B") %> <%= post.created_at.day %>, <%= post.created_at.year %></h4>
  <p><%= post.content %></p>
</div>
<% end %>
