<h1>posts#index</h1>

<div class='full-post'>

<% @posts.each do |post| %>
<h3 class = "text-center col-md-3 grey"><%= post.created_at.strftime("%B") %> <%= post.created_at.day %>, <%= post.created_at.year %></h3>
<h3 class = "col-md-9 grey"><%= post.title %></h3>
<h4 class = "col-md-8 col-md-offset-3 grey"><%= post.author %></h4>
<p class = "col-md-8 col-md-offset-3 grey"><%= post.content %></p>
<%= link_to "Read More", "/posts/#{post.id}", class: "btn btn-s btn-warning return-button col-md-offset-3", id: "read-more" %>

<% end %>

</div>
