<!DOCTYPE html>
<html>
<head>
  <title>PPatchTurquoise</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id = "wrap">
    <div class = "navbar navbar-fixed-top">
      <h1>P-Patch</h1>

        <div class = "float">
          <div id = "login">
            <h2><%= link_to "Login", "auth/twitter" %></h2>
          </div>
          <div id = "menu">
            <h2>Menu</h2>
          </div>
          <div id = "dropdown">
            <h3><%= link_to "Home", "/" %></h3>
            <h3><%= link_to "Blog", "/posts/" %></h3>
            <h3><%= link_to "Tools", "/tools" %></h3>
            <h3>Calendar</h3>
          </div>
        </div>
    </div>

    <div id = "content">
      <%= yield %>
    </div>

    <!-- <div id = "footer">
      <p>copywright stuff</p>
    </div> -->
  </div>

</body>
</html>
