<!DOCTYPE html>
<html>
<head>
  <title>PPatchTurquoise</title>
  <%= stylesheet_link_tag "http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css", media: "all" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Rajdhani' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Muli:300,400|Raleway:400,100' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Anton|Changa+One|Bevan|Vidaloka' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id = "wrap">
    <div class = "navbar navbar-fixed-top">
      <%= image_tag("peapod.png", :id => "peapod") %>
      <h1 class = "vida">Pea Patch</h1>

        <div class = "float">
          <% if current_user %>
            <div id = "logout">
              <h2><%= link_to "Logout", logout_path, :class => "log" %></h2>
            </div>
          <% else %>
            <div id = "login">
              <h2><%= link_to "Login", "auth/twitter", :class => "log"  %></h2>
            </div>
          <% end %>
          <div id = "menu">
            <h2>Menu</h2>
          </div>
          <div id = "dropdown">
            <h4><%= link_to "Weather", "#weather" %></h4>
            <h4><%= link_to "Blog", "/posts" %></h4>
            <h4><%= link_to "Tools", "#tools" %></h4>
            <h4><%= link_to "Calendar", "#calendar" %></h4>
          </div>
        </div>
    </div>

    <div id = "content">
      <%= yield %>
    </div>

    <!-- <div id = "footer">
      <p>copywright stuff</p>
    </div> -->

</div>
</body>
</html>
